
{{- define "main" }}

<header class="page-header">
    <h1>{{- (printf "%s&nbsp;" .Title ) | htmlUnescape -}}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
        {{- partial "translation_list.html" . -}}
    </div>
    {{- end }}
</header>

<div>

{{- $allpages := .Pages }}

{{ $categories := slice "Professor" "PostDoc" "PhD" "MSE" "Undergrad" "Alumni"}}

{{ range $category := $categories}}
  
  
  {{- $pages := $allpages }}
  
  {{ if eq $category "Alumni" }} 
    {{- $pages = where $pages "Params.isAlumni" true }} 
  {{ else }} 
    {{- $pages = where $pages "Params.category" "==" . }} 
    {{- $pages = where $pages "Params.isAlumni" false }} 
  {{ end }} 

  {{- $pages = sort $pages "Params.year" }}

  {{ if gt ( $pages | len ) 0 }}
  <h2> {{ . }} </h2>

  <div class="cards">

  {{- range $page := $pages }}
  
    <article class="post-entry">
      {{- partial "cover.html" (dict "cxt" . "IsSingle" false "isHidden" false "Width" 20) }}
      <header class="entry-header">
        <h2 class="entry-hint-parent">{{- .Title }} </h2>
      </header>
      <div class="entry-content">
        {{ if eq $category "Alumni" }}
        <p> {{ .Params.category }} </p>
        {{ end }}
        <p>{{ .Summary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
      </div>
      <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
    </article>
  {{- end }}
  
  </div>
  {{ end }}
{{ end }} 

</div>



{{- end }}{{/* end main */}}



