
{{- define "main" }}

<header class="page-header">
    <h1>{{- (printf "%s&nbsp;" .Title ) | htmlUnescape -}}</h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
        {{- partial "translation_list.html" . -}}
    </div>
    {{- end }}
</header>

{{ range .Pages.GroupByParam "year" "desc" }}
  <h2>{{ .Key }}</h2>
  <ol>
    {{ range .Pages }}
      <li>
        <a href="{{ .RelPermalink }}">
              <p> <b> {{ .Params.title }} </b></p>
              <p>{{ delimit .Params.authors ", " }} </p>
              <p> <i> {{ .Params.journal }} </i></p>
        </a>
              <ul class="tags">
                <li> <a href=" {{ .RelPermalink }}"> Details </a> </li>
                  {{ if (isset .Params "pdf") }} 
                    <li><a href="{{ .Params.pdf }}" target="_blank"> PDF </a> </li>
                  {{ end }}
                  {{ if (isset .Params "video") }} 
                    <li><a href="{{ .Params.video }}" target="_blank"> Video </a> </li>
                  {{ end }}
                  {{ if (isset .Params "code") }} 
                    <li><a href="{{ .Params.code }}" target="_blank"> Code </a> </li>
                  {{ end }}
              </ul>
      </li>
    {{ end }}
  </ol>
{{ end }}






{{- end }}{{/* end main */}}



